
body{
  background: #00d2ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #928DAB, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #928DAB, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;
  background-size: cover;
  height: 3000px;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: hidden;
}

.menufalse{
  position: fixed;
  bottom: 0;
  height: 60px;
  background-color: white;
  z-index: 99;
  opacity: 0.6;
}

#about{
  display: inline-block;
  width: 600px;
  text-align: left;
  line-height: 32pt;
  font-size: 18pt;
  letter-spacing: 0.4pt;
  font-family: 'Raleway', sans-serif;
}

#top-section{
  margin-top: 100px;
}


#profile{
  max-width: 300px;
  border-radius: 50%;
  border: 5px solid white;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  background: rgba(255,255,204, 0.5);
  user-select: none;
  margin-bottom: 30px;
}

#projects{
  width: 100%;
}

#projecttitle{
  top: 10px;
}

.projitem{
  width: 300px;
  height: 225px;
  position: relative;
  top: 50px;
  left: 0;
  display: inline-block;
  margin: 15px;
  overflow: hidden;
  cursor: pointer;
}

.proj_img{
  width: 100%;
  overflow: hidden;
  display:block;
  margin: 0;
  padding: 0;
  position:absolute;
  z-index: 0;
  height: 100%;
  right: 0;
  transition: 0.35s;
}

.overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.9;
  z-index: 100;
  display: none;
}

.overlay-title{
  color: #3ABEFF;
  font-family: 'Raleway', sans-serif;
  font-size: 24pt;
  text-align: left;
  position: relative;
  top: 5%;
  left: 5%;
}

.overlay-bar{
  height: 1.5%;
  background-color: #3ABEFF;
  position: relative;
  top: 8%;
  left: 5%;
  width: 0px;
  transition: 0.35s;
}

.overlay-text{
  color: #3ABEFF;
  font-family: 'Raleway', sans-serif;
  font-size: 14pt;
  text-align: left;
  position: relative;
  top: 12%;
  right: -275px;
  width: 90%;
  height: 80%;
  transition: 0.35s;
  line-height: 17pt;
}


#part2{
  position: relative;
  top: 1150px;
  width: 100%;
}

#skills{
  left: 0;
  width: 100%;
  user-select: none;
}

.skill-table{
  width: 40%;
  min-width: 400px;
  display: inline-block;
  overflow: hidden;
  margin: 2%;
}

.skill{
  position: relative;
  height: 50px;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24pt;
  text-align: left;
  line-height: 50px;
  color: white;
  min-width: 200px;
  overflow: hidden;
  font-weight: lighter;
  margin-top: 10px;
}

.skill:hover{
  background-color: rgba(255, 255, 255, 0.3);
}

.bar{
  position: absolute;
  right: 5%;
  height: 100%;
  top: 0;
  width: 200px;
  line-height: 50px;
  text-align: right;
  color: white;
  font-size: 18pt;
}


.star{
  float: right;
  position: relative;
  right: 0;
  margin-left: 5px;
  height: 30px;
  top: 50%;
  transform: translateY(-60%);
}

#experience{
  position: relative;
  top: 1100px;
  width: 100%;
}

#jobs{
  font-size: 20px;
  text-align: left;
  width: 80%;
  margin-top: 50px;
  margin-left: 10%;
  margin-right: 10%;
  left: 0;
}

.job{
  width: 100%;
  margin-bottom: 50px;
}

.jobname{
  font-size: 28px;
  margin-bottom: 5px;
  color: white;
}

.href2{
  border-left: 5px solid orange;
  padding-left: 5px;
  padding-right: 7px;
  background-size: 200% 100%;
  background-image: linear-gradient(to right, transparent 50%, orange 50%);
  transition: .3s;
  color: white;
}

.href2:hover {
  background-position: -99.5% 0;
  color: white;
  text-decoration: none;
}



.jobdays, .position, .description{
  width: 250px;
  font-weight: lighter;
  display: inline-block;
  text-align: left;
}

.description{
  position: relative;
  margin-top: 10px;
  width: 100%;
}

.job-info{
  display: inline-block;
  width: 70%;
}

.job-img{
  max-width: 25%;
  display: inline-block;
  margin: 0 1%;
  margin-bottom: 50px;
}

#contact{
  color: white;
  font-family: 'Raleway', sans-serif;
  height: 400px;
  width: 700px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin-top: 100px;
  margin-bottom: 0;
}

.sub-title{
  letter-spacing: 3pt;
  font-size: 40pt;
  margin: 0 auto;
  width: 400px;
  border-bottom: 2px solid white;
}

#resume-qr{
  height: 250px;
  position: absolute;
  top: 150px;
  right: 0;
}

#resume-title{
  font-size: 30px;
  position: absolute;
  top: 125px;
  right: 0;
  width: 250px;
  letter-spacing: 5pt;
}

.contact-line{
  position: relative;
  top: 25px;
  height: 50px;
  width: 500px;
  left: 55px;
  text-align: left;
  margin: 20px;
  transition: 0.5s;
  z-index: -1;
  color: white;
  font-size: 18pt;
  line-height: 50px;
}

.contact-icon{
  position: absolute;
  top: 50%;
  left: -55px;
  transform: translateY(-50%);
  max-width: 40px;
  max-height: 40px;
  user-select: none;
}

.highlight{
  opacity: 0.7;
  transition: 0.5s;
  user-select: text;
}

.highlight:hover{
  opacity: 1;
}
